@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.checkout {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: max-content;
    padding: 20px;
}

.checkout__right {
    width: 40%;
}

.message > h1{
    font-size: 25px;
    font-family: 'Electrolize', sans-serif;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__page {
    margin-top: 50px;
    padding: 15px 50px 15px 50px;
    font-family: 'Electrolize', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.no__products {
    display: flex;
    align-items: center;
}

.checkout__left {
    margin-bottom: 82px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}


.empty__cart {
    height: 41.5vh;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0b3b4d;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #022b33;
  }
