@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');



.header {
    background-color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 1px 1px 3px 1px rgb(94, 68, 109);
}

.logged__in {
    display: flex;
    align-items: center;
}

.logged__in > a {
    /* margin-left: 10px; */
}

.logged__out {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logged__out > a {
    margin-left: 20px;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    flex: 0.9;
}

.logo__text {
    display: flex;
    align-items: center;
}

.header__nav > a {
    padding-left: 20px;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header__optionBasket > svg {
    font-size: 33px;
    transition: 0.4s;
}

.header__optionBasket > svg:hover {
    font-size: 38px;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.header__optionLineOne {
    font-size: 12px;
    font-family: 'Electrolize', sans-serif;
}

.header__optionLineTwo {
    font-size: 19px;
    font-weight: 800;
    font-family: 'Electrolize', sans-serif;
    transition: 0.4s;
}

.header__optionLineTwo:hover {
    font-size: 23px;
}

.header__link {
    text-decoration: none;
    color: black;
}

.header__logo{
    width: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    object-fit: contain;
    height: 60px;
    
}

.header__searchIcon {
    background-color: black;
    color: white;
    /* border-radius: 3px 18px 18px 0; */
    padding: 7px 10px 7px 10px;
    height: 20px !important;
    box-shadow: 1px 1.4px 3px 1.2px rgb(94, 68, 109);
}

.header__search {
    display: flex;
    flex: 0.6;
    margin-left: 50px;
}

.header__searchInput {
    background: white;
    /* border-radius: 18px 0 0 18px; */
    height: 12px;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    box-shadow: 1px 1px 2px 1px rgb(94, 68, 109);
    outline: none;
}