.checkoutProduct {
   display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
   border-bottom: 2px solid black;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__title {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Electrolize', sans-serif;
}

.checkoutProduct__rating {
    display: flex;
    font-size: 25px;
}

.checkoutProduct__price > small {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Electrolize', sans-serif;
    
    
}

.price {
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
}


.checkoutProduct__info > button {
    margin-top: 20px;
    padding: 3px 15px 3px 15px;
    font-family: 'Electrolize', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}