@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


.login__logo {
    width: 200px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 40px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100vh;
    font-family: 'Electrolize', sans-serif;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-family: 'Electrolize', sans-serif;
    font-size: 15px;
    display: inline-block;
}

.login__container > form > input[type=email] {
    padding-left: 12px;
}

.login__container > form > input[type=password] {
    padding-left: 12px;
}

.login__container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    border: 2px solid black;
    /* box-shadow: 0px 5px 12px 6px darkslateblue; */
    width: 300px;
}

.login__container > h1 {
    margin-bottom: 20px;
}

.login__container > form > h5 {
    margin-bottom: 5px;
    font-size: 15px;
}

.login__signInButton {
    background: #aa9ea6;
    width: 100%;
    padding: 5px 15px 5px 15px;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Electrolize', sans-serif;
    margin-top: 10px;
    color: black;
}

.login__registerButton {
    margin-top: 10px;
    width: 100%;
    padding: 5px 15px 5px 15px;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Electrolize', sans-serif;
}

.login__registerButton:hover {
    color: white;
    background: #aa9ea6;
    outline: none;
}

.login__signInButton:hover {
    color: black;
    background: white;
    outline: none;
}

.instructions {
    margin-top: 10px;
    text-align: center;
}