.checkout {
    display: flex;
    background-color: white;
    height: max-content;
    padding: 20px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}


.empty__cart {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 60vh;
    
}