@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
	outline: none;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
    border-radius: 40px;
    font-family: 'Electrolize', sans-serif;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__rating {
    display: flex;
}

.product > button {
    background-color: white;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 10px;
    font-family: 'Electrolize', sans-serif;
    border-radius: 20px;
    cursor: pointer;
}

.product > button:hover {
    color: white;
    background: black;
    outline: none;
}

